<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo" color="">
      Diario de Emoções
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-img></ion-img>
<ion-content [fullscreen]="true">
  <ion-col size-md="9" size="12" class="welcome">
    <ion-card-header>
      <ion-card-title> "Tenha sua vida na palma da mão!" </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label stacked>Usuario:</ion-label>
      <!-- <ion-input [(ngModel)]="username"></ion-input> -->
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha:</ion-label>
      <!-- <ion-input type="password" [(ngModel)]="password"></ion-input> -->
      <ion-input type="password"></ion-input>
    </ion-item>
  <ion-button href="/tabs/tab2"> entrar</ion-button>
  <ion-button href="tabs/contact">Cadastrar</ion-button>
  <div class="container-buttons">
  <button ion-button outline>Criar Conta</button>
  <button ion-button outline>Fazer Login</button>
  </div>
</ion-col>
<ion-img src="..\assets\img\bom.jpg"></ion-img>
</ion-content>

