<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo" color="">
      Diario de Emoções
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-img></ion-img>
<ion-content [fullscreen]="true">
  <ion-col size-md="9" size="12" class="welcome">
    <ion-card-header>
      <ion-card-title> "Tenha sua vida na palma da mão!" </ion-card-title>
    </ion-card-header>
    <ion-item>
    <form (submit)="login(email.value, password.value)">
        <ion-label stacked>Usuario:</ion-label>        
        <input type="email" #email placeholder="Email">
        <ion-label stacked>Senha:</ion-label>
        <input type="password" #password placeholder="Password">
        <div style="color: blue; font-size: 16px;">
        <button type="submit">ENTRAR</button>
        </div>
        
    </form>
    </ion-item>
    

<button (click)="presentSignUpForm()">Sign Up</button>
</ion-col>
<ion-img src="..\assets\img\bom.jpg"></ion-img>
</ion-content>

